<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('layout/header.ejs')%>
    </header>
    <main>
<%z.forEach(x=>{%>

<p><%= x.quote%></p>

<p><%= x.character%></p>

<img src="<%= x.image%>">
<button value="/details/id<%= x.id%>">show details</button>

<%})%>

</form>
    </main>
</body>
</html>